<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
    <div class="wrapper">
     <table border="0" cellpadding="10">
     <tr><td>
    <h1>Ryo Yonetani, Ph.D.</h1>
    <p>
    Research Associate <BR>
    Institute of Industrial Science, The University of Tokyo <BR>
      </td><td>
      <img src="/images/me.png" height=100px>
      </td></tr>
      </table>
    </p>
    </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
